body{
   background-color: #ffd6a5;
}


h1{
   background-color: white;
   padding: 10px;
   color: black;
   border-radius: 10px;
   text-align: center;
}

h2{
   color:white;
}

a{
   text-decoration: none;
}

.caja1{
   border: 2px solid white;
   border-radius: 10px;
}

.caja2{
   border: 2px solid white;
   border-radius: 10px;
}

.caja3{
   border: 2px solid white;
   border-radius: 10px;
}

.caja4{
   border: 2px solid white;
   border-radius: 10px;
}

.caja5{
   border: 2px solid white;
   border-radius: 10px;
}

.caja6{
   border: 2px solid white;
   border-radius: 10px;
}

.caja7{
   border: 2px solid white;
   border-radius: 10px;
}

.caja8{
   border: 2px solid white;
   border-radius: 10px;
}

.caja9{
   border: 2px solid white;
   border-radius: 10px;
}

.caja10{
   border: 2px solid white;
   border-radius: 10px;
}

.caja11{
   border: 2px solid white;
   border-radius: 10px;
}

.caja12{
   border: 2px solid white;
   border-radius: 10px;
}

.caja13{
   border: 2px solid white;
   border-radius: 10px;
}

.caja14{
   border: 2px solid white;
   border-radius: 10px;
}

.caja15{
   border: 2px solid white;
   border-radius: 10px;
}

.caja16{
   border: 2px solid white;
   border-radius: 10px;
}

.caja17{
   border: 2px solid white;
   border-radius: 10px;
}

.caja18{
   border: 2px solid white;
   border-radius: 10px;
}